<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="/board/update" method="post">
        <h2>글수정 페이지</h2>
        <input type="text" name="name" value="{{name}}">
        <ul>
            <li>
                <label for="subject">제목</label>
                <input type="text" name="subject" value="안녕하세요">
            </li>
            <li>
                <label for="content">내용</label>
                <textarea name="content">
                    내용내용내용
                </textarea>
            </li>
        </ul>
        <input type="submit" value="수정하기">  // input 에서 submit은 폼테그에 액션을 실행한다.
        <a href="/board/list">목록가기</a>
    </form>
</body>
</html>